{% extends "recipes/base.html" %}
{% load static %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb2.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    {% for blog in blog_posts %}
                    <!-- Single Blog Area -->
                    <div class="single-blog-area mb-80">
                        <!-- Thumbnail -->
                        <div class="blog-thumbnail">
                            {% if blog.image %}
                                <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                            {% else %}
                                <div class="bg-light d-flex align-items-center justify-content-center" style="height: 300px;">
                                    <i class="fas fa-image fa-3x text-muted"></i>
                                </div>
                            {% endif %}
                            <!-- Post Date -->
                            <div class="post-date">
                                <a href="#"><span>{{ blog.created_at|date:"d" }}</span>{{ blog.created_at|date:"M" }} <br> {{ blog.created_at|date:"Y" }}</a>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="blog-content">
                            <a href="{% url 'recipes:blog_detail' blog.pk %}" class="post-title">{{ blog.title }}</a>
                            <div class="meta-data">
                                <p>by {{ blog.author.get_full_name|default:blog.author.username }}
                                {% if blog.category %}
                                    | <span class="badge badge-secondary">{{ blog.category.name }}</span>
                                {% endif %}
                                </p>
                            </div>
                            <p>{{ blog.content|truncatewords:50 }}</p>
                            <a href="{% url 'recipes:blog_detail' blog.pk %}" class="btn delicious-btn mt-30">Read More</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="alert alert-info">
                        <i class="fas fa-info-circle"></i> No blog posts found.
                        {% if user.is_authenticated %}
                            <a href="{% url 'recipes:blog_create' %}" class="alert-link">Create the first blog post</a>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <!-- Pagination -->
                    {% if blog_posts.has_other_pages %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if blog_posts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ blog_posts.previous_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}">Previous</a>
                                </li>
                            {% endif %}

                            {% for num in blog_posts.paginator.page_range %}
                                <li class="page-item {% if blog_posts.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}{% if current_category %}&category={{ current_category }}{% endif %}">{{ num }}</a>
                                </li>
                            {% endfor %}

                            {% if blog_posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ blog_posts.next_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">
                    
                    {% if user.is_authenticated %}
                    <!-- Create Post Widget -->
                    <div class="single-widget mb-80">
                        <h6>Blog Actions</h6>
                        <a href="{% url 'recipes:blog_create' %}" class="btn delicious-btn w-100">
                            <i class="fas fa-plus"></i> Create New Post
                        </a>
                    </div>
                    {% endif %}

                    <!-- Categories Widget -->
                    <div class="single-widget mb-80">
                        <h6>Categories</h6>
                        <ul class="list-group">
                            <li class="list-group-item {% if not current_category %}active{% endif %}">
                                <a href="{% url 'recipes:blog_list' %}" class="{% if not current_category %}text-white{% endif %}">
                                    All Categories
                                </a>
                            </li>
                            {% for category in blog_categories %}
                            <li class="list-group-item {% if current_category == category.id|stringformat:'i' %}active{% endif %}">
                                <a href="?category={{ category.id }}" class="{% if current_category == category.id|stringformat:'i' %}text-white{% endif %}">
                                    {{ category.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Newsletter Widget -->
                    <div class="single-widget mb-80">

                        <div class="newsletter-area">
                            <h4>Subscribe to our newsletter</h4>
                            <!-- Form -->
                            <div class="newsletter-form bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg1.jpg' %});">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="email" name="email" placeholder="Subscribe to newsletter">
                                    <button type="submit" class="btn delicious-btn w-100">Subscribe</button>
                                </form>
                                <p>Subscribe to our newsletter to get the latest news and offers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->
{% endblock %}
